

.App {
  text-align: center;
  background-size: cover;
  background-position:center;
  width:100%;
  
}

body {
  width:100%;
}

.audio-background {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

audio {
  display: none;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity:1;
  
}

audio {
  display: none;
}

.audio-background {
  grid-area : 3 / 3 / 3 / 3;
 
  width:200px;
  height:150px;

  overflow: hidden;
  z-index: 4;
}

.play-button {
  
  margin-top:25%;
  margin-left:25%;
  width:100px;
  height:100px;
  opacity:0;

  z-index: 10;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;

  font-size: 16px;
  cursor: pointer;
}

.play-icon {
  

  display: inline-block;

 
 /* Add this line to create some space between the icon and the text */
}

.NavBar-Art-Grid {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 60% 20% 5% 5%;
  
}

.test-block {

  grid-area: 4 / 2 / 4 / 5;

  display:grid;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:100%;


  /* grid row start / grid column start / grid row end / grid column end */
}

.menu_button:hover span{
  background: url('./button-2.png');

 
}

.menu-button1{
  border:none;  
  background: none;
}

.clicked {
  display: none;
}

.menu-button1:hover .clicked{
  display:inline-block;
}

.menu-button1:hover .init{
  display:none;
}

.art-grid{
  grid-area: 2 / 2 / 2 / 5;

}

.art-grid > h1{
  font-size:600%;
}





