.fade-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1000;
}

.fade-out.active {
  opacity: 1;
}
.bgAnimation {
  grid-area: 1 / 1 / 1 / 1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  
}

.bgAnimation2 {
  grid-area: 1 / 1 / 1 / 1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  
}

.bgAnimation3 {
  grid-area: 1 / 1 / 1 / 1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}



.bgAnimation-fade-out {
  opacity: 0;
  transition: opacity 0.35s ease-out;
  width: 100vw;
  height: 100vh;
}

.bgAnimation2-fade-out {
  opacity: 0;
  transition: opacity 0.35s ease-out;
  width: 100vw;
  height: 100vh;
} 

.bgAnimation3-fade-out {
  opacity: 0;
  transition: opacity 0.35s ease-out;
  width: 100vw;
  height: 100vh;
} 

.home{
  width:100%;
  height:100%;
}


.frame {
  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  margin: auto;
  top:50%;
  width: 100%;
  min-width: 1080px;
  min-height: 1080px;
  position: fixed;
  z-index: 2;
  left: 50%;
  
  transform: translate(-50%, -50%);
}


.App {
  text-align: center;
  background-size: cover;
  background-position:center;
  width:100%;
  
}



.audio-background {
  
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

audio {
  display: none;
}


#bg-video {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity:1 ;
  
}

audio {
  display: none;
}

.audio-background {
  grid-area : 3 / 3 / 3 / 3;
 
  width:200px;
  height:150px;

  overflow: hidden;
  z-index: 3;
}

.play-button {
  
  margin-top:25%;
  margin-left:25%;
  width:100px;
  height:100px;
  opacity:0;

  z-index: 10;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;

  font-size: 16px;
  cursor: pointer;
}

.play-icon {
  

  display: inline-block;

 
 /* Add this line to create some space between the icon and the text */
}

.NavBar-Art-Grid {

  opacity:1;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 60% 20% 5% 5%;
  
}

.test-block {
  z-index:7;
  opacity:1;

  grid-area: 4 / 2 / 4 / 5;

  display:grid;

  grid-template-columns: 33.33333333333% 33.33333333333% 33.33333333333%;
  grid-template-rows:100%;


  /* grid row start / grid column start / grid row end / grid column end */
}

.menu_button:hover span{
  background: url('./button-2.png');

 
}

.LinkTab {
  width:100%;
  display: flex; /* set the parent to be a flex container */
  justify-content: center; /* center the child horizontally */
  
}

.menu-button1{
  border:none;  
  background: none;
  margin-left: 25%;
  margin-right:25%;
}

.clicked {
  display: none;
}

.menu-button1:hover .clicked{
  display:inline-block;
}

.menu-button1:hover .init{
  display:none;
}

#button-achievements {
  grid-area: 1/1/1/1;

}

#button-projects {
  grid-area: 1/2/1/2;

}

#button-about-me {
  grid-area: 1/3/1/3;

}

.art-grid{
  opacity:1;
  grid-area: 2 / 2 / 2 / 5;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

}


.art-grid > h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
  color: #000;
}


#title_text1 {

  font-size: 100px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: 3px;
  transition: 700ms ease;

  font-variation-settings: "wght" 111;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;


  grid-area: 1 / 1 / 1 / 1 ;
  z-index:10;
  margin-top: -2%;
  filter: drop-shadow(0 0 0.25rem rgb(48, 47, 13));

}

#title_text1:hover{
  font-size:120px;
  color:rgb(255, 243, 156);
  filter: drop-shadow(0 0 0.75rem rgb(40, 28, 30));
 
}

#title_text2 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: 3px;
  transition: 700ms ease;

  font-variation-settings: "wght" 111;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;

  grid-area: 1 / 1 / 1 / 1 ;
  margin-top: -2%;
  filter: drop-shadow(0 0 0.25rem rgb(48, 47, 13));

  z-index:3;
}

#title_text3 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: 0px;
  transition: 700ms ease;

  font-variation-settings: "wght" 111;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;

  grid-area: 1 / 1 / 1 / 1 ;
  margin-top: -2%;

  filter: drop-shadow(0 0 0.25rem rgb(48, 47, 13));
  z-index:3;
}

#title_text4 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing:0px;
  transition: 700ms ease;

  font-variation-settings: "wght" 111;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;

  grid-area: 1 / 1 / 1 / 1 ;
  margin-top: -2%;
  filter: drop-shadow(0 0 0.25rem rgb(48, 47, 13));

  z-index:3;
}







.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.fade-out {
  animation: fadeOut 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}




.fade-in-out {


  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}



.fade-in-out.hide {
  opacity: 0;
}



/* .button h1 {
  opacity: 1;
  transition: opacity 0.35s ease-in;
}

.button:hover h1 {
  opacity: 0;
  transition: opacity 0.35s ease-out;
}

.button:not(:hover) h1 {
  opacity: 1;
  transition: opacity 0.35s ease-in;
} */